<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/create.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  <script type="text/javascript" src="/scripts/create.js"></script>
</head>

<body>
  <%- include('partials/_header') %>
  <main>
    <div class = "main-grid">
      <form class="form" action="/urls" method="POST">
        <div class="form-group mb-2 create-title">
          <label for="quizTitle">Quiz Title:</label>
          <input class="" type="text" name="quizTitle" placeholder="eg. Capital Cities" style= "width: 300px;">
        </div>
      <div class="form-group mb-2 private-option">
        <label class="form-check-label" for="private-check">
          Check this box to make quiz private:
        </label>
        <input class="form-check-input ml-2" type="checkbox" value="" id="private-check" checked>
      </div>
      <div class="form-group mb-2 question1">
        <label for="question1">Question 1:</label>
        <input class="form-control mb-2" type="text" name="question1" placeholder="eg. What is the capital of?" style= "width: 1000px;">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadio1">
          <input class="form-control" for="flexRadio1" type="text" name="question1" placeholder="Choice 1" style= "width: 500px;">
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadio2">
          <input class="form-control" for="flexRadio2" type="text" name="question1" placeholder="Choice 2" style= "width: 500px;">
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadio3">
          <input class="form-control" for="flexRadio3" type="text" name="question1" placeholder="Choice 3" style= "width: 500px;">
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadio4">
          <input class="form-control" for="flexRadio4" type="text" name="question1" placeholder="Choice 4" style= "width: 500px;">
        </div>
      </div>
      <div class = "btn" id = "add-question-btn" >
        <span class = "mr-2">➕</span>
        <span>add question</span>
      </div>



      </form>
    </div>

  </main>

  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>
