nav {
  background-color: white;
}

.main-grid {
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

form {
  flex-direction: column;
}

#submit-btn {
  background-color: #2a9d8f;
}

#page-header {
  margin-bottom: 20px;
}
