.main-grid {
  display: grid;
  grid-template-rows: 250px 250px 250px;
}

#title-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  hr {
    border: 35px;
    display:block;
    width: 35%;
    background-color: black;
    height: 1px;
  }
}

nav {
  background-color: #f4a261;

  .btn {
    background-color: #e76f51;
  }
}

