#submit-btn {
  background-color: #2a9d8f;
}

#btn-container {
  margin-top: 15px;
}

.main-grid {
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

.question-title {
  margin-top: 15px;
}

